* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.s1 {
    background: linear-gradient(to left top, grey, black);
    background-image: url(./nyc_liberty_statue.jpg);
    background-size: cover;
}

/* .section h1 {
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, .2);
} */

.s2 {
    background: linear-gradient(to right top, rgb(220, 15, 15), rgb(55, 17, 169));
}

/* .s3 {
    background: linear-gradient(to bottom left, black , grey);
  } */

  body {
    position: relative;
  }